.Viewer {
  position: absolute;
  top: 50px;
  left: 1100px;

  box-sizing: border-box;
  /* background-color: white; */

  width: 800px;
  height: 800px;
}


iframe {
	width: 800px;
  height: 700px;
	border: none;
}