.ControlPanel {
	position: absolute;
  top: 50px;
  left: 0px;
  align-items: center;
  flex-wrap: wrap;
  padding : 10px;

  box-sizing: border-box;
  
  border-right: 1px solid rgb(170, 170, 170);
  background-color: rgb(219, 221, 228);
  width: 300px;
  height: fit-content;
  user-select: none;
}

.OuterStylePositionInput {
	display: flex;
	flex-wrap: wrap;
}

.flexbox {
	display: flex;
}

.showCoordinate {
	position: absolute;
	top: 710px;
	left: 0px;
	/* justify-content: space-between; */
}

