.ControlPanel {
	position: absolute;
  top: 50px;
  left: 0px;
  align-items: center;
  flex-wrap: wrap;

  box-sizing: border-box;
  background-color: rgb(219, 221, 228);
  width: 300px;
  height: 800px;
  user-select: none;
}

.OuterStylePositionInput {
	display: flex;
	flex-wrap: wrap;
}

.showCoordinate {
	position: absolute;
	top: 710px;
	left: 30px;
}