.ControlPanel {
	position: absolute;
  top: 50px;
  left: 0px;
  align-items: center;
  flex-wrap: wrap;
  padding : 10px;

  box-sizing: border-box;
  
  border-right: 1px solid rgb(170, 170, 170);
  background-color: rgb(219, 221, 228);
  width: 320px;
  height: fit-content;
  user-select: none;
}

.OuterStylePositionInput {
	display: flex;
	flex-wrap: wrap;
}

p {
  padding-left: "3px";
  width: "auto";
  font-size: "18px";
  color: "rgb(43, 62, 99)";
}

.showCoordinate {
	position: absolute;
	top: 710px;
	left: 0px;
	/* justify-content: space-between; */
}

