.Workspace {

	--GridColumnNumber: 16;
	--GridRowNumber: 16;

  position: absolute;
  top: 50px;
  left: 320px;

  box-sizing: border-box;
  border-right: 1px solid rgb(170, 170, 170);
  /* background-color: white; */

  width: 800px;
  height: 800px;
}

.WorkspaceGridContainer {
	display: grid;
	grid-template-columns: repeat(var(--GridColumnNumber), 1fr);
	grid-template-rows: repeat(var(--GridRowNumber), 1fr);

  width: 800px;
  height: 800px;
}

.WorkspaceGridItem {
	border-style: dotted;
	border-width: 1px;
	grid-column: 3 / 6;
	grid-row: 5 / 12;
	font-family: 'Courier New', Courier, monospace;
}