.Workspace {

	--GridColumnNumber: 16;
	--GridRowNumber: 16;

  position: absolute;
  top: 10px;
  left: 310px;

  box-sizing: border-box;
  border: 1px solid black;
  border-left-width: 0px;
  /* background-color: white; */

  width: 800px;
  height: 800px;
}

.WorkspaceGridContainer {
	display: grid;
	grid-template-columns: repeat(var(--GridColumnNumber), 1fr);
	grid-template-rows: repeat(var(--GridRowNumber), 1fr);

  width: 800px;
  height: 800px;
}

.WorkspaceGridItem {
	border-style: dotted;
	border-width: 1px;
	grid-column: 3 / 6;
	grid-row: 5 / 12;
}